.nav-wrapper {
  & .flex-left {
    &__inner {
      & .modal-button {
        font-size: 0.9em;
      }
    }

    & .title {
      font-size: 3em;
    }

    & p {
      font-size: 0.8em;
    }
  }
}
//************************************************
//**************TOP MENU (RIGHT SIDE)**************
//************************************************

.nav-wrapper {
  & .flex-right {
    & figure.menu {
      height: 35vh;
    }
  }
}
// /***************************************************************/
// /************************** SECTION ****************************/
// /***************************************************************/
// /* SECTION HEADER & FOOTER */

.section {
  & .section-header {
    height: 80px;
  }

  & .section-footer {
    height: 80px;
  }
}
// /* SECTION MAIN CONTENT */

.section-main {
  width: 100%;

  & > h2 {
    &:before {
      top: -0.5em;
    }
  }
}
// ******************SECTION CONTENTS********************

.section {
  & .section-main {
    & .content {
      & .content-inner {
        width: 90%;
      }

      & .description {
        font-size: 1em;
      }
    }
  }
}
// /***********************************************/
// /******************** MODAL ********************/
// /***********************************************/

.modal {
  & .modal-container {
    width: 85%;
    height: 80%;

    & .content {
      margin: 1.5em;
    }
  }
}
