@charset "UTF-8";
html {
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.web-font {
  font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  z-index: 150;
}

.nav-wrapper.z-index-control {
  z-index: 0;
}

.nav-wrapper .flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  background-image: url("../images/nicole-wreyford-unsplash.jpg");
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: left 0.4s;
  z-index: 300;
}

.nav-wrapper .flex-left::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(85, 75, 112, 0.7);
  z-index: 1;
}

.nav-wrapper .flex-left.flex-slide-left {
  position: fixed;
  left: -100vw;
}

.nav-wrapper .flex-left__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 300px;
  z-index: 90;
}

.nav-wrapper .flex-left__inner .modal-button {
  margin: 1em;
  padding: 0.3em 1em;
  color: white;
  font-size: 0.9em;
  border: 1px solid white;
  cursor: pointer;
  z-index: 2;
  transition: box-shadow 0.25s;
}

.nav-wrapper .flex-left .title {
  position: relative;
  margin: 0 0 0.5em;
  font-size: 2.5em;
  color: white;
  text-align: center;
  line-height: 1em;
  letter-spacing: 1px;
  z-index: 2;
}

.nav-wrapper .flex-left .title > span {
  font-weight: normal;
}

.nav-wrapper .flex-left p {
  position: relative;
  margin: 0 0 0.5em;
  color: white;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  letter-spacing: 1px;
  z-index: 2;
}

.nav-wrapper .flex-left p > a {
  text-decoration: none;
  color: #10d6d0;
}

.nav-wrapper .flex-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75vh;
  right: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
  transition: right 0.4s;
}

.nav-wrapper .flex-right figure.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  margin: 0;
  overflow: hidden;
}

.nav-wrapper .flex-right figure.menu > img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.nav-wrapper .flex-right figure.menu.firefox > img {
  transform: scale(1.5);
}

.nav-wrapper .flex-right figure.menu.about {
  align-items: flex-end;
}

.nav-wrapper .flex-right figure.menu > a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.nav-wrapper .flex-right figure.menu.chromium > a {
  background-color: rgba(0, 1, 185, 0.75);
}

.nav-wrapper .flex-right figure.menu.firefox > a {
  background-color: rgba(196, 0, 0, 0.75);
}

.nav-wrapper .flex-right figure.menu.others > a {
  background-color: rgba(158, 142, 0, 0.75);
}

.nav-wrapper .flex-right figure.menu.about > a {
  background-color: rgba(0, 65, 65, 0.75);
}

.nav-wrapper .flex-right.flex-slide-right {
  position: fixed;
  right: -100vw;
}

.section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  transition: opacity 1s, visibility 1s z-index 0.5s;
}

.section.section-appear {
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.section .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.section .section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.section .section-footer p {
  margin: 0;
  color: white;
  font-size: 0.8em;
}

.chromium .section-footer,
.chromium .section-header {
  background-color: #0001b9;
}

.firefox .section-footer,
.firefox .section-header {
  background-color: #c40000;
}

.others .section-footer,
.others .section-header {
  background-color: #9e8e00;
}

.section-main {
  width: 100%;
}

.section-main > h2 {
  position: relative;
  margin-top: 3em;
  margin-bottom: 0;
  text-align: center;
}

.section-main > h2:before {
  content: attr(data-title);
  position: absolute;
  top: -0.6em;
  left: 50%;
  font-size: 1.5em;
  transform: translate(-50%, -15%);
}

.section.chromium .section-main > h2:before {
  color: rgba(104, 106, 210, 0.2);
}

.section.firefox .section-main > h2:before {
  color: rgba(255, 87, 87, 0.2);
}

.section.others .section-main > h2:before {
  color: rgba(249, 232, 87, 0.2);
}

.section .section-main .content {
  width: 100%;
  padding: 4em 0;
}

.section .section-main .content:nth-of-type(2n) {
  background-color: #ececec;
}

.section .section-main .content .content-inner {
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
}

.section .section-main .content .content-inner .img {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.section .section-main .content .content-inner .img img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

.section .section-main .content .content-inner .img .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.45) 65%, rgba(0, 0, 0, 0.6));
}

.section .section-main .content .content-inner .img .title > h3 {
  margin: 0.5em;
}

.section .section-main .content .content-inner .description {
  padding-bottom: 1em;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.section .section-main .content .content-inner .description > p {
  margin: 1em 0 0;
  line-height: 1.6em;
}

.section .section-main .content .content-inner .link-block > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.section .section-main .content .content-inner .link-block > ul li.button {
  position: relative;
  width: 150px;
  height: 42px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  transition: background-color 0.3s;
}

.section .section-main .content .content-inner .link-block > ul li.banner {
  position: relative;
  width: 150px;
  height: 44px;
}

.section .section-main .content .content-inner .link-block > ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 42px;
  color: white;
  line-height: 42px;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.3s;
}

.section .section-main .content .content-inner .link-block > ul li a img {
  width: 150px;
  height: 44px;
}

.section .section-main .content .content-inner .link-block > ul li:nth-of-type(n+2) {
  margin-top: 1em;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(13, 13, 13, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: -5;
  transition: visibility 0.3s, opacity 0.3s, z-index 0.5s;
}

.modal .modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 85%;
  background-color: white;
  box-shadow: 0 0 20px 10px white;
  transform: scale(0.7);
  transition: transform 0.3s;
}

.modal .modal-container .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #004141;
}

.modal .modal-container .modal-header h2 {
  margin: 0;
  font-size: 1.2em;
}

.modal .modal-container .content {
  margin: 1em;
  font-size: 0.8em;
  letter-spacing: 1px;
  overflow: auto;
}

.modal .modal-container .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal .modal-container .content ul li {
  margin-top: 0.5em;
}

.modal .modal-close-button {
  margin: auto auto 0;
  padding: 0.3em 1em;
  width: 110px;
  color: black;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.modal .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: white;
  margin-top: 1em;
  background-color: #004141;
}

.modal .modal-footer p {
  margin: 0;
  font-size: 0.8em;
}

.modal-open {
  visibility: visible;
  opacity: 1;
  z-index: 500;
}

.modal-open .modal-container {
  transform: scale(1);
}

.close-curtains {
  position: fixed;
  top: 30px;
  right: 15px;
  width: 44px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 20;
  transition: bottom 0.7s, opacity 0.7s, visibility 0.7s;
}

.close-curtains .curtains::before {
  position: absolute;
  content: '';
  top: 31px;
  left: 6px;
  width: 28px;
  height: 28px;
  border-top: 2px solid #fff;
  transform-origin: top right;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.close-curtains .curtains::after {
  position: absolute;
  content: '';
  top: 31px;
  left: 12px;
  width: 28px;
  height: 28px;
  border-top: 2px solid #fff;
  transform-origin: top left;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 44px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  transition: bottom 0.7s, opacity 0.7s, visibility 0.7s, z-index 0.7s;
}

.to-top .top::after {
  position: absolute;
  content: '';
  top: 17px;
  left: 14px;
  width: 16px;
  height: 16px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.to-top.appear {
  bottom: 20px;
  visibility: visible;
  opacity: 1;
  z-index: 20;
}

@media (min-width: 577px) {
  .nav-wrapper .flex-left__inner .modal-button {
    font-size: 0.9em;
  }
  .nav-wrapper .flex-left .title {
    font-size: 3em;
  }
  .nav-wrapper .flex-left p {
    font-size: 0.8em;
  }
  .nav-wrapper .flex-right figure.menu {
    height: 35vh;
  }
  .section .section-header {
    height: 80px;
  }
  .section .section-footer {
    height: 80px;
  }
  .section-main {
    width: 100%;
  }
  .section-main > h2:before {
    top: -0.5em;
  }
  .section .section-main .content .content-inner {
    width: 90%;
  }
  .section .section-main .content .description {
    font-size: 1em;
  }
  .modal .modal-container {
    width: 85%;
    height: 80%;
  }
  .modal .modal-container .content {
    margin: 1.5em;
  }
}

@media (min-width: 768px) {
  .nav-wrapper .flex-left__inner .modal-button {
    font-size: 1em;
  }
  .nav-wrapper .flex-left .title {
    font-size: 3em;
  }
  .nav-wrapper .flex-left p {
    font-size: 0.9em;
  }
  .section .section-main .content .content-inner {
    width: 85%;
  }
  .section .section-main .content .content-inner .link-block > ul {
    display: flex;
    flex-direction: row;
  }
  .section .section-main .content .content-inner .link-block > ul li.button {
    transition: background-color 0.3s;
  }
  .section .section-main .content .content-inner .link-block > ul li a {
    color: white;
    transition: color 0.3s;
  }
  .section .section-main .content .content-inner .link-block > ul li:nth-of-type(n+2) {
    margin-top: 0;
    margin-left: 2em;
  }
  .modal .modal-container {
    width: 75%;
    height: 65%;
  }
  .modal .modal-container .content {
    margin: 1.5em;
  }
}

@media (min-width: 980px) {
  .nav-wrapper {
    overflow-y: unset;
    display: flex;
    flex-direction: row;
    z-index: 350;
  }
  .nav-wrapper .flex-left {
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    transition: left 0.4s ease-in-out;
    z-index: 350;
  }
  .nav-wrapper .flex-left__inner {
    margin: -5em 0 0;
  }
  .nav-wrapper .flex-left.flex-slide-left {
    left: -50vw;
  }
  .nav-wrapper .modal-button {
    font-size: 1em;
  }
  .nav-wrapper .modal-button:hover {
    box-shadow: inset 0 0 15px 5px white;
  }
  .nav-wrapper .flex-right {
    top: 0;
    right: 0;
    width: 50vw;
    transition: right 0.4s ease-in-out;
    z-index: 350;
  }
  .nav-wrapper .flex-right figure.menu {
    height: 33.33vh;
  }
  .nav-wrapper .flex-right figure.menu > img {
    transition: transform 0.3s;
  }
  .nav-wrapper .flex-right figure.menu.firefox > img {
    transform: scale(1.5);
  }
  .nav-wrapper .flex-right figure.menu.firefox:hover > img {
    transform: scale(1.73);
  }
  .nav-wrapper .flex-right figure.menu.about {
    align-items: flex-end;
  }
  .nav-wrapper .flex-right figure.menu:hover img {
    transform: scale(1.15);
  }
  .nav-wrapper .flex-right.flex-slide-right {
    right: -50vw;
  }
  .section-main {
    width: 100%;
  }
  .section {
    width: 100%;
  }
  .section .section-main {
    width: 100%;
  }
  .section .section-main .content {
    width: 100%;
  }
  .section .section-main .content .content-inner {
    width: 70%;
  }
  .section .section-main .content .content-inner .description {
    padding-bottom: 2em;
  }
  .section .section-main .content .content-inner .link-block > ul {
    display: flex;
    flex-direction: row;
  }
  .section .section-main .content .content-inner .link-block > ul li.button {
    transition: background-color 0.3s;
  }
  .section .section-main .content .content-inner .link-block > ul li a {
    color: white;
    transition: color 0.3s;
  }
  .section .section-main .content .content-inner .link-block > ul li:nth-of-type(n+2) {
    margin-top: 0;
    margin-left: 2em;
  }
  .section .content .content-inner .link-block ul li.button:hover {
    background-color: white;
  }
  .section .content .content-inner .link-block ul li.button:hover a {
    color: black;
  }
  .modal .modal-container {
    width: 70%;
    height: 65%;
  }
  .modal .modal-container .modal-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  .modal .modal-container .content {
    margin: 1.5em 2.5em;
    font-size: 0.9em;
  }
  .modal .modal-close-button {
    font-size: 1em;
    cursor: pointer;
    transition: box-shadow 0.25s;
  }
  .modal .modal-close-button:hover {
    box-shadow: inset 0 0 10px 5px black;
  }
  .modal .modal-footer p {
    font-size: 0.9em;
  }
  .close-curtains {
    position: fixed;
    top: 30px;
    right: 80px;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .to-top {
    position: fixed;
    right: 80px;
    bottom: 30px;
  }
  .to-top.appear {
    bottom: 40px;
  }
}
